* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root { 
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);
}

body {
  width: 100%;
  min-height: 100vh;
  border: none;
  overflow-x: hidden;
}

html {
  font-family: "Helvetica", sans-serif;
}


h1 {
  max-width: 80%;
  color: var(--Dark-Slate-Grey);
}

p {
  max-width: 95%;
  font-size: 1.25rem;
  line-height: 1.55rem;
  color: var(--Dark-Slate-Grey);
}

.button_container {
  max-width: 100%;
}

button {
  width: 100%;
  padding: 1.4rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: var(--White);
  background-color: var(--Charcoal-Grey);
  cursor: pointer;
}

button:hover {
  background: rgb(255,83,120);
  background: linear-gradient(90deg, rgba(255,83,120,1) 0%, rgba(212,63,54,1) 57%, rgba(255,104,66,1) 100%);
} 

span {
  font-weight: bold;
}


/* FOR DESKTOP */
@media (min-width: 768px) {
  body {
    background-color: var(--Dark-Slate-Grey);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .success_icon {  
    max-width: 8%;
  }

  h1 {
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;  
  }

  p {
    margin-top: 1rem;
  }

  .button_container {
    max-width: 100%;
    margin-top: 1.5rem;
  }
  
  .container {
    max-width: 50%;
    background-color: var(--White);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: auto auto auto;
    padding: 2rem 5rem 3rem; 
  }
}


/* FOR MOBILE */
@media (max-width: 768px) {
  body, html {
    max-width: 100%;
    overflow-x: hidden !important;
  }

  .container {
    max-width: 100%;
    padding: 1.5rem;
  }

  .button_container {
    max-width: 100%;
    margin-top: 16.5rem;
    margin-bottom: 2.5rem;
  }

  .success_icon {
    max-width: 15%;
    margin-top: 7rem;
  }

  h1 {
    margin-top: 3rem;
  }

  p {
    max-width: 90%;
    margin-top: 2rem;
  }
}